USE [QuanLyThuVien]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPhieuMuonById]    Script Date: 10/18/2025 2:16:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetPhieuMuonById]
	@MaPhieuMuon NVARCHAR(20)
AS
BEGIN
	SELECT MaPhieuMuon, MaBanSao, MaBanDoc, NgayMuon, HanTra, NgayTraThucTe, SoLanGiaHan, TrangThai
	FROM PhieuMuon
	WHERE MaPhieuMuon = @MaPhieuMuon
END