USE [QuanLyThuVien]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPhieuMuon]    Script Date: 10/18/2025 2:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllPhieuMuon]
AS
BEGIN
	SELECT MaPhieuMuon, MaBanSao, MaBanDoc, NgayMuon, HanTra, NgayTraThucTe, SoLanGiaHan, TrangThai
	FROM PhieuMuon
END